# Object files
*.o
*.obj

# Executables
*.exe
*.out

# Debug symbols (Linux/macOS)
*.dSYM/
*.d

# Debug symbols (Windows)
*.pdb
*.ilk

# Libraries
*.a
*.lib
*.so
*.dll
*.dylib

# Build directories
build/
cmake-build-*/

# Misc
*.log
*.tmp